<?xml version="1.0"?>
<launch>
  <arg name="steps" /> 
<group ns="denoising">

  <node name="env_node" pkg="denoising" type="env_node.py" output="screen">
  </node>

  <node name="denoise_node" pkg="denoising" type="denoise_node.py" output="screen">
    <param name="steps" value="$(arg steps)"/>
  </node>

  <node name="key_input" pkg="denoising" type="key_input.py" output="screen">
  </node>


</group>
</launch>